<ion-view view-title="Contact Us">
  <ion-content>
  	<div class="card">
	          <div class="item item-divider">
	          Local Information
	          </div>
	         <div class="item item-text-wrap">
	         	
		<h3>Our Address</h3>
		<p>121, Clear Water Bay Road
		Clear Water Bay, Kowloon
		HONG KONG</p>
		<p><span class="ion-android-call"></span>Tel: +852 1234 5678</p>
		<p><span class="ion-printer"></span>Fax: +852 8765 4321</p>
		<p><span class="ion-email"></span>Email:confusion@food.net</p>
	         </div>
	         <div class="button-bar">
	         	<button class="button button-positive"><i class="ion-android-call"></i>Call</button>
	         		<button class="button button-calm"><i class="ion-social-skype"></i>Skype</button>
	         		<button class="button button-balanced"><i class="ion-email"></i>Email</button>
	         </div>
	     
      	</div><!-- end of the card -->
  </ion-content>
</ion-view>
