<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Submit Comment on Dish</h1>
		<div class="buttons">
			<button class="buttons button-clear" ng-click="closeCommentForm()">
				Close
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form id="commentForm" name="commentForm" ng-submit="doComment()">
			<div class="list">
				<label class="item item-input item-select">
					<span class="input-label">Rating</span>
					<select ng-model="mycomment.rating">
						<option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
					</select>
				</label><!-- end of num of rating -->
				<label class="item item-input">
					<span class="input-label">Your name</span>
					<input type="text" ng-model="mycomment.author">
				</label><!-- end of name -->
				<label class="item item-input">
					<span class="input-label">Your Comment</span>
					<input type="text" ng-model="mycomment.comment">
				</label><!-- end of comment -->
				<label class="item">
					<button type="submit" class="button button-block button-positive">Add Comment</button>
				</label>
			</div>

		</form>
	</ion-content>

</ion-modal-view>